body{
    /*background-color: rgb(185, 120, 36);
    background: linear-gradient(315deg, #be4b4b 15%, #ffc4c4 60%); /*prioridade*/

    background: url("../imagens/snoopy-e-charlie-brown.avif") no-repeat right top #be4b4b;
    background-size: cover;
}